In [1]:
#Importing the libraries

import pandas as pd
import json
import re

In [2]:
#Loading the dataset

company = pd.read_json('company.json')
domain = pd.read_csv('domain_list.csv')

In [3]:
company.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1060598 entries, 0 to 1060597
Data columns (total 25 columns):
 #   Column                                     Non-Null Count    Dtype
---  ------                                     --------------    -----
 0   organisasjonsnummer                        1060598 non-null  int64
 1   navn                                       1060598 non-null  object
 2   organisasjonsform                          1060598 non-null  object
 3   registreringsdatoEnhetsregisteret          1060598 non-null  object
 4   registrertIMvaregisteret                   1060598 non-null  bool
 5   naeringskode1                              1001105 non-null  object
 6   antallAnsatte                              1060598 non-null  int64
 7   forretningsadresse                         1045540 non-null  object
 8   institusjonellSektorkode                   975549 non-null   object
 9   registrertIForetaksregisteret              1060598 non-null  bool
 10  registrertIStiftelsesregisteret            1060598 non-null  bool
 11  registrertIFrivillighetsregisteret         1060598 non-null  bool
 12  konkurs                                    1060598 non-null  bool
 13  underAvvikling                             1060598 non-null  bool
 14  underTvangsavviklingEllerTvangsopplosning  1060598 non-null  bool
 15  maalform                                   1060598 non-null  object
 16  links                                      1060598 non-null  object
 17  hjemmeside                                 119973 non-null   object
 18  postadresse                                208844 non-null   object
 19  stiftelsesdato                             595503 non-null   object
 20  sisteInnsendteAarsregnskap                 374439 non-null   float64
 21  naeringskode2                              41127 non-null    object
 22  frivilligMvaRegistrertBeskrivelser         47042 non-null    object
 23  naeringskode3                              1549 non-null     object
 24  overordnetEnhet                            1949 non-null     float64
dtypes: bool(7), float64(2), int64(2), object(14)
memory usage: 152.7+ MB

In [4]:
company.head()

,organisasjonsnummer,navn,organisasjonsform,registreringsdatoEnhetsregisteret,registrertIMvaregisteret,naeringskode1,antallAnsatte,forretningsadresse,institusjonellSektorkode,registrertIForetaksregisteret,...,maalform,links,hjemmeside,postadresse,stiftelsesdato,sisteInnsendteAarsregnskap,naeringskode2,frivilligMvaRegistrertBeskrivelser,naeringskode3,overordnetEnhet
0,922924368,- A THOUSAND WORDS - ØDEGÅRDEN GJERRUD TRANSLA...,"{'kode': 'ENK', 'beskrivelse': 'Enkeltpersonfo...",2019-06-19,True,{'beskrivelse': 'Oversettelses- og tolkevirkso...,0,"{'land': 'Norge', 'landkode': 'NO', 'postnumme...","{'kode': '8200', 'beskrivelse': 'Personlig nær...",False,...,Bokmål,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,916627939,- P A L M E R A -,"{'kode': 'FLI', 'beskrivelse': 'Forening/lag/i...",2016-01-26,False,{'beskrivelse': 'Aktiviteter i andre interesse...,0,"{'land': 'Norge', 'landkode': 'NO', 'postnumme...","{'kode': '7000', 'beskrivelse': 'Ideelle organ...",False,...,Bokmål,[],palmera-i-bergen.no,"{'land': 'Norge', 'landkode': 'NO', 'postnumme...",2015-11-01,NaN,NaN,NaN,NaN,NaN
2,911963582,- TTT- WINES TORE EUGEN KRISTIANSEN,"{'kode': 'ENK', 'beskrivelse': 'Enkeltpersonfo...",2013-05-25,False,{'beskrivelse': 'Engroshandel med vin og brenn...,0,"{'land': 'Norge', 'landkode': 'NO', 'postnumme...","{'kode': '8200', 'beskrivelse': 'Personlig nær...",False,...,Bokmål,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,988539473,-EBE- DATA Eyolf Berg,"{'kode': 'ENK', 'beskrivelse': 'Enkeltpersonfo...",2005-08-20,False,{'beskrivelse': 'Konsulentvirksomhet tilknytte...,0,"{'land': 'Norge', 'landkode': 'NO', 'postnumme...","{'kode': '8200', 'beskrivelse': 'Personlig nær...",False,...,Bokmål,[],www.ebe-data.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,922936919,-VEIEN- MED ANITA HELLEBØ-STOREIDE,"{'kode': 'ENK', 'beskrivelse': 'Enkeltpersonfo...",2019-06-21,False,{'beskrivelse': 'Personlig tjenesteyting ikke ...,0,"{'land': 'Norge', 'landkode': 'NO', 'postnumme...","{'kode': '8200', 'beskrivelse': 'Personlig nær...",True,...,Bokmål,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
print (domain)

                       Domain_Name
0     nordiskhundemassasjeskole.no
1               nordisktrygghet.no
2                       nordiwa.no
3                        nordix.no
4                       nordkak.no
...                            ...
3164                 vetsentrum.no
3165                   vetserve.no
3166                   vevangas.no
3167                   vevlemek.no
3168                vevmesteren.no

[3169 rows x 1 columns]

In [6]:
company = company.drop(columns = [
    'organisasjonsform','registrertIMvaregisteret', 'registrertIFrivillighetsregisteret',
    'naeringskode1','registrertIForetaksregisteret','forretningsadresse','institusjonellSektorkode',
    'registrertIStiftelsesregisteret','konkurs','underAvvikling','underTvangsavviklingEllerTvangsopplosning',
    'maalform','postadresse','sisteInnsendteAarsregnskap', 'naeringskode2','links',
    'frivilligMvaRegistrertBeskrivelser','naeringskode3','overordnetEnhet', 'stiftelsesdato', 'antallAnsatte'])

In [7]:
company.head()

,organisasjonsnummer,navn,registreringsdatoEnhetsregisteret,hjemmeside
0,922924368,- A THOUSAND WORDS - ØDEGÅRDEN GJERRUD TRANSLA...,2019-06-19,NaN
1,916627939,- P A L M E R A -,2016-01-26,palmera-i-bergen.no
2,911963582,- TTT- WINES TORE EUGEN KRISTIANSEN,2013-05-25,NaN
3,988539473,-EBE- DATA Eyolf Berg,2005-08-20,www.ebe-data.com
4,922936919,-VEIEN- MED ANITA HELLEBØ-STOREIDE,2019-06-21,NaN

In [8]:
compamy = company.dropna(subset = ["hjemmeside"], inplace=True)

In [9]:
company['hjemmeside']

1                palmera-i-bergen.no
3                   www.ebe-data.com
5          artofdesign.ltevensen.com
6                     www.soldier.no
17                  www.mayasart.net
                     ...
1060574           www.oliventreet.no
1060576           www.pixelpoeten.no
1060581                www.rrbygg.no
1060582     www.mytrend.blogspot.com
1060589                 turbovask.no
Name: hjemmeside, Length: 119973, dtype: object

In [10]:
company.head()

,organisasjonsnummer,navn,registreringsdatoEnhetsregisteret,hjemmeside
1,916627939,- P A L M E R A -,2016-01-26,palmera-i-bergen.no
3,988539473,-EBE- DATA Eyolf Berg,2005-08-20,www.ebe-data.com
5,990730253,://ART OF DESIGN//: Lars Thomas Evensen,2007-01-08,artofdesign.ltevensen.com
6,994924974,.:SOR-ESPORTS,2010-01-05,www.soldier.no
17,977021715,''MAYA'' KREATIV MALING May Britt Øydvin,1996-12-11,www.mayasart.net

In [11]:
company['hjemmeside'] = company['hjemmeside'].replace(to_replace=r'www.', value='', regex=True)

In [12]:
company.shape

(119973, 4)

In [13]:
domain.shape

(3169, 1)

In [14]:
company = company.rename(columns={"organisasjonsnummer":"Org_Number","navn":"Company",
        "registreringsdatoEnhetsregisteret":"Reg_Date", "hjemmeside": "Website"})

In [16]:
company['Reg_Date'] = pd.to_datetime(company['Reg_Date'])

In [17]:
company.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119973 entries, 1 to 1060589
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Org_Number  119973 non-null  int64
 1   Company     119973 non-null  object
 2   Reg_Date    119973 non-null  datetime64[ns]
 3   Website     119973 non-null  object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 4.6+ MB

In [18]:
company.head(10)

,Org_Number,Company,Reg_Date,Website
1,916627939,- P A L M E R A -,2016-01-26,palmera-i-bergen.no
3,988539473,-EBE- DATA Eyolf Berg,2005-08-20,ebe-data.com
5,990730253,://ART OF DESIGN//: Lars Thomas Evensen,2007-01-08,artofdesign.ltevensen.com
6,994924974,.:SOR-ESPORTS,2010-01-05,soldier.no
17,977021715,''MAYA'' KREATIV MALING May Britt Øydvin,1996-12-11,mayasart.net
27,986804641,(TXT) ARNESTAD.ORG,2004-05-22,arnestad.org
31,924829214,@RNEBLIKK AS,2020-04-21,oerneblikk.com
32,992648554,*FORRESTEN FORM Mikael Cappelen Smith,2008-05-08,mikkelcappelensmith.com
43,913779908,+ ARK AS,2014-06-19,plussark.no
44,995451697,+2 INTERIØR AS,2010-04-28,pluss2.no

In [19]:
company.to_csv('Company Data.csv')

In [20]:
final_data = domain.merge(company,left_on="Domain_Name",right_on="Website")

In [21]:
final_data.head()

,Domain_Name,Org_Number,Company,Reg_Date,Website
0,nordix.no,864133312,NORDIX DATA AS,1995-02-19,nordix.no
1,kirken.nordkapp.no,977001706,NORDKAPP SOKN,1997-01-27,kirken.nordkapp.no
2,nordkapp-boats.no,958204434,FRYDENBØ BOATS AS,1995-02-19,nordkapp-boats.no
3,nordkappauto.no,979703090,NORDKAPP AUTO AS,1998-03-24,nordkappauto.no
4,nordkappcamping.no,954824209,NORDKAPP CAMPING AS,1995-02-19,nordkappcamping.no

In [22]:
final_data.shape

(1987, 5)

In [23]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1987 entries, 0 to 1986
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Domain_Name  1987 non-null   object
 1   Org_Number   1987 non-null   int64
 2   Company      1987 non-null   object
 3   Reg_Date     1987 non-null   datetime64[ns]
 4   Website      1987 non-null   object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 93.1+ KB

In [24]:
final_data.to_csv('Final Data.csv')

In [25]:
unique = pd.read_csv('Final Data.csv')

In [26]:
unique.head()

,Unnamed: 0,Domain_Name,Org_Number,Company,Reg_Date,Website
0,0,nordix.no,864133312,NORDIX DATA AS,1995-02-19,nordix.no
1,1,kirken.nordkapp.no,977001706,NORDKAPP SOKN,1997-01-27,kirken.nordkapp.no
2,2,nordkapp-boats.no,958204434,FRYDENBØ BOATS AS,1995-02-19,nordkapp-boats.no
3,3,nordkappauto.no,979703090,NORDKAPP AUTO AS,1998-03-24,nordkappauto.no
4,4,nordkappcamping.no,954824209,NORDKAPP CAMPING AS,1995-02-19,nordkappcamping.no

In [28]:
#Collecting company names with unique domains 
unique = pd.concat(g for _, g in unique.groupby("Domain_Name") if len(g) < 2)

In [29]:
unique = unique.drop(columns = ['Unnamed: 0'])

In [30]:
unique.head(10)

,Domain_Name,Org_Number,Company,Reg_Date,Website
381,autoforum.sf.no,959167915,AUTO 8-8 FORUM AS,1995-02-20,autoforum.sf.no
223,cas.oslo.no,971543671,SENTER FOR GRUNNFORSKNING VED DET NORSKE VIDEN...,1995-02-20,cas.oslo.no
1,kirken.nordkapp.no,977001706,NORDKAPP SOKN,1997-01-27,kirken.nordkapp.no
849,kirken.sor-fron.no,976988922,SØR-FRON SOKN,1997-01-27,kirken.sor-fron.no
0,nordix.no,864133312,NORDIX DATA AS,1995-02-19,nordix.no
2,nordkapp-boats.no,958204434,FRYDENBØ BOATS AS,1995-02-19,nordkapp-boats.no
3,nordkappauto.no,979703090,NORDKAPP AUTO AS,1998-03-24,nordkappauto.no
4,nordkappcamping.no,954824209,NORDKAPP CAMPING AS,1995-02-19,nordkappcamping.no
5,nordkappcaravancamp.no,974387905,NORDKAPP CARAVANCAMP AS,1995-03-31,nordkappcaravancamp.no
6,nordkkk.no,990545359,NORD KANO OG KAJAKK KLUBB,2006-12-14,nordkkk.no

In [31]:
unique['Reg_Date'] = pd.to_datetime(unique['Reg_Date'])

In [32]:
unique.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 896 entries, 381 to 1986
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Domain_Name  896 non-null    object
 1   Org_Number   896 non-null    int64
 2   Company      896 non-null    object
 3   Reg_Date     896 non-null    datetime64[ns]
 4   Website      896 non-null    object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 42.0+ KB

In [34]:
unique.shape

(896, 5)

In [35]:
unique.to_csv('Unique.csv')

In [36]:
clean_dup = pd.read_csv('Final Data.csv')

In [37]:
clean_dup.head()

,Unnamed: 0,Domain_Name,Org_Number,Company,Reg_Date,Website
0,0,nordix.no,864133312,NORDIX DATA AS,1995-02-19,nordix.no
1,1,kirken.nordkapp.no,977001706,NORDKAPP SOKN,1997-01-27,kirken.nordkapp.no
2,2,nordkapp-boats.no,958204434,FRYDENBØ BOATS AS,1995-02-19,nordkapp-boats.no
3,3,nordkappauto.no,979703090,NORDKAPP AUTO AS,1998-03-24,nordkappauto.no
4,4,nordkappcamping.no,954824209,NORDKAPP CAMPING AS,1995-02-19,nordkappcamping.no

In [38]:
#Collecting company names with same domains 
clean_dup = pd.concat(g for _, g in clean_dup.groupby("Domain_Name") if len(g) > 1)

In [39]:
clean_dup = clean_dup.drop(columns = ['Unnamed: 0'])

In [40]:
clean_dup['Reg_Date'] = pd.to_datetime(clean_dup['Reg_Date'])

In [41]:
clean_dup.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1091 entries, 219 to 1983
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Domain_Name  1091 non-null   object
 1   Org_Number   1091 non-null   int64
 2   Company      1091 non-null   object
 3   Reg_Date     1091 non-null   datetime64[ns]
 4   Website      1091 non-null   object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 51.1+ KB

In [42]:
clean_dup.shape

(1091, 5)

In [43]:
clean_dup.to_csv('Duplicate.csv')

In [44]:
find_unq = pd.read_csv('Duplicate.csv')

In [45]:
find_unq.head()

,Unnamed: 0,Domain_Name,Org_Number,Company,Reg_Date,Website
0,219,anker.oslo.no,994882813,ANKER STI HOLDING AS,2009-12-15,anker.oslo.no
1,220,anker.oslo.no,896203452,KØBENHAVNGATA 10 AS,2010-11-18,anker.oslo.no
2,221,anker.oslo.no,991797602,SANDAKERVEIEN 76 AS,2007-12-22,anker.oslo.no
3,222,anker.oslo.no,966891750,STIFTELSEN ANKER STUDENTBOLIGER OG HOTEL (ANKE...,1995-02-20,anker.oslo.no
4,1145,kyrkja.tokke.no,976991893,"EIDSBORG, MO OG SKAFSÅ SOKN",1997-01-27,kyrkja.tokke.no

In [46]:
find_unq = find_unq.drop(columns = ['Unnamed: 0'])

In [47]:
find_unq['Reg_Date'] = pd.to_datetime(find_unq['Reg_Date'])

In [48]:
find_unq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1091 entries, 0 to 1090
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Domain_Name  1091 non-null   object
 1   Org_Number   1091 non-null   int64
 2   Company      1091 non-null   object
 3   Reg_Date     1091 non-null   datetime64[ns]
 4   Website      1091 non-null   object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 42.7+ KB

In [49]:
find_unq.shape

(1091, 5)

In [50]:
unq_first_date = find_unq.sort_values('Reg_Date').drop_duplicates('Domain_Name',keep='first')

In [51]:
unq_first_date.shape

(154, 5)

In [52]:
unq_first_date.to_csv('Unique First.csv')

In [53]:
unq_last_date = find_unq.sort_values('Reg_Date').drop_duplicates('Domain_Name',keep='last')

In [54]:
unq_last_date.shape

(154, 5)

In [55]:
unq_last_date.to_csv('Unique Last.csv')

In [57]:
cleaned_unq = pd.read_csv('Unique Cleaned.csv', error_bad_lines=False)

b'Skipping line 3: expected 1 fields, saw 2\nSkipping line 31: expected 1 fields, saw 2\n'

In [65]:
cleaned_unq.shape

(154, 1)

In [64]:
cleaned_unq = pd.read_csv('Unique Cleaned.csv', sep='delimiter')

<ipython-input-64-d28451c2a072>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  cleaned_unq = pd.read_csv('Unique Cleaned.csv', sep='delimiter')

In [68]:
cleaned_unq.shape

(154, 1)

In [69]:
merge = [unique, cleaned_unq]

In [70]:
final_output = pd.concat(merge)

In [72]:
final_output.shape

(1050, 6)

In [74]:
final_output = final_output.to_csv('Final_Output')